<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AzureDb"
			 connectionString="Data Source=tcp:aprajitaretails.database.windows.net,1433;Initial Catalog=AprajitaRetails_db;User Id=AmitKumar@aprajitaretails;Password=Dumka@@2654" />
	</connectionStrings>
	<connectionStrings>
		<add name="LocalDb"
			 connectionString= "Server=(localdb)\\mssqllocaldb;Database=eStoreDb_Local_Ver1_0;Trusted_Connection=True;MultipleActiveResultSets=true" />
	</connectionStrings>
</configuration>