<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AzureDb"
			 connectionString="Data Source=tcp:aprajitaretails.database.windows.net,1433;Initial Catalog=AprajitaRetails_db;User Id=AmitKumar@aprajitaretails;Password=Dumka@@2654" />
	</connectionStrings>
	<SyncUnLockLey>@31392e342e30CBWRSYCst6RQjkT77KTbQQ6jxBRImOx+r/vLWFBrU/c=</SyncUnLockLey>
	<SyncLic>NjAxNjQ4QDMxMzkyZTM0MmUzMGVDU2YwQVJUaFpoU1NPMEFyRlN0RGJRSzlYa21udTFaSjlXejhxcXh3aGc9;NjAxNjQ5QDMxMzkyZTM0MmUzMG96Q01jaGI3L3RrNVVsMHFmTjQ4SlB3cW90WWRpdlE0ak42NnFXSTJhVE09;NjAxNjUwQDMxMzkyZTM0MmUzMEtVZFFIZ01WMjY0YmxtZUVHK0N1T09YOXJoYmJSVHBReE1lN2R2Y21Ta289;NjAxNjUxQDMxMzkyZTM0MmUzMGN3N2x2bFhkRkw0b2lQNG9iSkpzeUwyem1VUEU5eEtwMDNQR1Izc0ZVZjQ9;NjAxNjUyQDMxMzkyZTM0MmUzMFJ2eC92NjI5aDFjTWJXRk1nWkk4NTE2Ky9pVXgyMHNnbEdwQStidmJ1cGs9;NjAxNjUzQDMxMzkyZTM0MmUzMG5ubHpnRk12UG42b2huRHNFWGVRMGVEbWdYK1V5VHQraTUveGFKYktYYWM9;NjAxNjU0QDMxMzkyZTM0MmUzMGc4ZzlHT0FjWFJJUEVmdWRPZ2ZCck5yWkYvS2NZYnUxTGJkY2RhN0lyS0k9;NjAxNjU1QDMxMzkyZTM0MmUzMG04T0l2UTV5bGYwRDFmYWFUeEhmYkdueGpmZSs0WGxFRk1tb3EwMEVDdkE9;NjAxNjU2QDMxMzkyZTM0MmUzMEZFTXpjYXJKaVFIZ05DWVkyaGRPRnhQWnlMaFBHZlVyRkRYaU9xMmo5eHc9;NjAxNjU3QDMxMzkyZTM0MmUzMEU1ZlplQS9rdjZ1ZkxneGZ2OEZ3WHhRcHJ5Q3o2YTFzdW4xMXhvRGdlNGs9;NjAxNjU4QDMxMzkyZTM0MmUzMGlHSVVrTTFZZERWelJZTmhtemY2YkVBNkc0cFRVVG53UktyQmx5Y1RORU09</SyncLic>
</configuration>